layout {
    pane split_direction="vertical" {
        pane size="60%" focus=true name="< Code >"
        pane size="40%" split_direction="horizontal" {
            pane name="< Terminal >"
            pane name="< Git >"
            }
    }
}
